.alpha_checkered {
    background-color: white;
    background-size: 64px 64px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .3) 50%, transparent 50%), linear-gradient(to bottom, rgba(0, 0, 0, .3) 50%, transparent 50%), linear-gradient(to bottom, white 50%, transparent 50%), linear-gradient(to right, transparent 50%, rgba(0, 0, 0, .5) 50%);
}
