{{/*
SPDX-FileCopyrightText: 2024 Mattia Basaglia <dev@dragon.best>
SPDX-FileCopyrightText: 2024 Julius Künzel <jk.kdedev@smartlab.uber.space>
SPDX-License-Identifier: GPL-3.0-or-later
*/}}

{{/*
Params:
- id: unique id
- rawr: path to the rawr file
- json: path to the json file
*/}}

{{ define "head-import" }}
{{ $script := resources.Get "js/lottie.js" }}
<script src="{{ $script.RelPermalink }}"></script>

{{ $custom := resources.Get "scss/lottie.scss" }}
{{ $style := slice $custom | resources.Concat "scss/lottie-bundle.scss" | toCSS | minify | fingerprint }}
<link rel="stylesheet" href="{{ $style.Permalink }}">

<link rel="stylesheet" type="text/css" href="https://cdn.kde.org/breeze-icons/icons.css">
{{ end }}

<div class="lottie-container mb-3">
  <div class="alpha_checkered" id="lottie_target_{{ .id }}" style="width:512px;height:512px"></div>
  <button class="btn btn-primary" id="lottie_play_{{ .id }}" onclick="anim[{{ .id }}].play(); document.getElementById('lottie_pause_{{ .id }}').style.display = 'inline-block'; this.style.display = 'none'" style="display:none" title="Play">
    <i class="icon icon_media-playback-start"></i>
  </button>
  <button class="btn btn-primary" id="lottie_pause_{{ .id }}" onclick="anim[{{ .id }}].pause(); document.getElementById('lottie_play_{{ .id }}').style.display = 'inline-block'; this.style.display = 'none'" title="Pause">
    <i class="icon icon_media-playback-pause"></i>
  </button>
  <a href="{{ .rawr }}" title="Download" download="">
    <button class="btn btn-primary">
      <i class="icon icon_edit-download"></i>
    </button>
  </a>
  <script>
      if (typeof anim === 'undefined') {
          var anim = {}
      }
      anim[{{ .id }}]=lottie.loadAnimation({
          container: document.getElementById('lottie_target_{{ .id }}'),
          renderer: 'svg',
          loop: true,
          autoplay: true,
          path: {{ .json }}
      });
  </script>
</div>
